.StoryBox {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px;

  .eachStory {
    width: 15%;
    padding: 5px;
    text-align: center;
    font-size: 0.7rem;

    img {
      width: 100%;
    }
  }
}
