.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;

  .instLogo {
    width: 30px;
    margin-left: 200px;
  }

  .titleSize {
    padding-left: 25px;
    margin-left: 25px;
    border-left: 1px solid lightgrey;
    font-size: 25px;
  }

  .iconCompass {
    width: 30px;
  }

  .iconHeart {
    width: 30px;
  }

  .iconMyPage {
    width: 30px;
  }

  .navCenter {
    margin: 15px;
  }

  .searchTab {
    border-radius: 5px;
    text-align: center;
  }
}
