.login_sunkyungnoh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 30px 0;
  background-color: #fafafa;

  main {
    width: fit-content;
  }
}
