@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.login_sunkyungnoh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px 0;
  background-color: #fafafa;

  main {
    width: fit-content;
  }
}
