* {
  box-sizing: border-box;
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 54px;
  background-color: #fafafa;

  main {
    display: flex;
    padding-top: 30px;
    margin: 0 65px;
  }

  .userPic {
    width: 66px;
    height: 66px;
    margin-bottom: 5px;
    border-radius: 50px;
    border: 2.5px solid transparent;
    background-image: linear-gradient(#fafafa, #fafafa),
      linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}
