div.create-account {
  & {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
  }

  & > p {
    margin: 15px;
    font-size: 14px;
    text-align: center;
  }

  & > p > a {
    margin-left: 6px;
    color: rgb(0, 149, 246);
    font-weight: bold;
    text-decoration: none;
  }
}
