.slide {
  background-image: url(https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png);
  background-size: 454px 618px;
  flex-basis: 454px;
  height: 618px;

  .slideImg {
    margin: 99px 0 0 151px;
    position: relative;

    img {
      height: 427px;
    }
  }
}
