article {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;

  .photo {
    width: 100%;
    height: 600px;
    // background: url(https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/121069093_380151816696989_4721420429397917324_n.jpg?tp=1&_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=hVhB1oCWwB8AX-JSahB&edm=AP_V10EAAAAA&ccb=7-4&oh=af01baecb8e947c6832cabe4e4e90245&oe=60A2ADE1&_nc_sid=4f375e);
  }

  .photoInfo {
    padding: 0 16px;
    font-size: 14px;
  }
}
