ul {
  padding: 16px 16px 0;
  font-size: 14px;

  li {
    display: flex;
    margin-bottom: 6px;
    list-style: none;
    list-style-position: inside;

    span {
      margin-right: 4px;
      width: 10%;
    }
    div {
      width: 85%;
    }
    button {
      width: 5%;
    }
    img {
      width: 14px;
      justify-self: flex-end;
    }
  }
}

.comments > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin-top: 20px;
  border-top: 1px solid rgb(219, 219, 219);

  > button {
    width: 40px;
    height: 40px;
    display: flex;
    padding: 8px 16px 8px 0;
    align-items: center;
  }

  > input {
    width: 80%;
    border: none;
    outline: none;
  }

  > button:last-of-type {
    padding: 8px 0px 8px 16px;
    color: #b3dffc;
  }

  .active {
    color: rgb(0, 149, 246) !important;
  }
}
