header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 16px;

  .userPic.header {
    width: 42px;
    height: 42px;
    border: 2.4px solid transparent;
  }

  p {
    width: 82%;
    font-weight: bold;
    font-size: 14px;
  }

  button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-end;
    width: 32px;
    height: 32px;
    padding: 6px;
    border: none;
    outline: none;
    background-color: transparent;

    div {
      width: 3px;
      height: 3px;
      background-color: black;
      border-radius: 50%;
    }
  }
}
