.main-right {
  width: 293px;

  .userProfileBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;

    .userInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 180px;

      p {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
      }
    }

    img {
      width: 56px;
      height: 56px;
      margin-right: 16px;
      border-radius: 50%;
      border: 1px solid rgb(219, 219, 219);
      background-color: rgb(255, 255, 255);
    }

    button {
      color: rgb(0, 149, 246);
      font-size: 12px;
      font-weight: bold;
    }
  }

  .recommendTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    span:first-child {
      font-size: 14px;
      font-weight: 600;
      color: rgb(142, 142, 142);
    }

    span:last-child {
      font-size: 12px;
      font-weight: 500;
      text-align: center;
    }
  }
}
