.main-right {
  & {
    position: fixed;
    left: 707px;
    right: 0;
    top: 88px;
    width: 293px;
    height: 100vh;
  }

  .userProfileBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;

    & > img {
      width: 56px;
      height: 56px;
      margin-right: 16px;
      border-radius: 50%;
      border: 1px solid rgb(219, 219, 219);
      background-color: rgb(255, 255, 255);
    }

    &.userInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 180px;

      & > p {
        font-size: 14px;
        font-weight: bold;
      }
    }

    & > button {
      color: rgb(0, 149, 246);
      font-size: 12px;
      font-weight: bold;
    }
  }

  .recommendTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    & > span:first-child {
      font-size: 14px;
      font-weight: 600;
      color: rgb(142, 142, 142);
    }

    & > span:last-child {
      font-size: 12px;
      font-weight: 500;
      text-align: center;
    }
  }

  .recommendation {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 8px 0px 8px;

    & > img {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid rgb(219, 219, 219);
      background-color: rgb(255, 255, 255);
    }

    & > button {
      margin-left: 16px;
      padding: 0;
      color: rgb(0, 149, 246);
      font-size: 12px;
      font-weight: bold;
    }

    & .userInfo {
      width: 190px;
    }

    & .userMessage {
      font-size: 13px;
      color: rgb(142, 142, 142);
      font-weight: 400;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0;
    height: 110px;
    color: rgb(142, 142, 142);
    font-size: 12px;
  }
}
