.storyBox {
  display: flex;
  width: 600px;
  margin-bottom: 24px;
  padding-left: 20px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
}
