@import '../../../styles/common.scss';

.feed__info {
  margin-top: 10px;
  padding: 0 20px;
}

.feed__info__date {
  margin-top: 5px;
  color: var(--dark-gray);
}

.feed__comments__lists {
  margin-top: 10px;
}

.feed__comments__list {
  @include flexBox(space-between, center, row);
  position: relative;
  margin-top: 8px;
}

.feed__comments__contents {
  width: 400px;
}

.feed__comments__goodBtn i {
  transition: all 0.3s ease;
  cursor: pointer;
}

.goodBtn {
  color: var(--heart-color);
}

.feed__comments__delBtn {
  position: absolute;
  right: 30px;
  display: none;
}

.feed__comments__list:hover .feed__comments__delBtn {
  display: inline-block;
}

.feed__comments__goodBtn i:hover {
  transform: scale(1.2);
}

.feed__comments {
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid var(--border-line);
}

.feed__comments input {
  width: 90%;
  margin-right: 5px;
  border: none;
  font-size: 15px;
  padding: 20px 20px;
}

.feed__comment__upload {
  color: var(--light-blue);
  font-size: 15px;
}
