@import '../../../../../../Styles/common.scss';

.feed-top {
  @include flexBox(space-between, center, row);
  margin: 15px;
}

.feed__author {
  @include flexBox(flex-start, center, row);
}

.author__avator {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
}

.author__name {
  font-size: 20px;
  font-weight: 600;
}
